


{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}

  <div class="d-flex flex-column align-items-md-center justify-content-center w-75 p-3">
   
   


    <div  class="d-md-inline-flex justify-content-between">
      <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th>FQDN</th>
              <th>Score</th>
              <th>Type</th>
              <th>Domain</th>
              <th>SubDomain</th>
            </tr>
          </thead>
          <tbody>
        
              <tr>
              <td>{{ fqdn.fqdn_full }}</a></td>
              <td>{{ fqdn.score }}</td>

              <td>{{ fqdn.fqdn_type }}</td>
              <td>{{ fqdn.fqdn_domain }}</td>
              <td>{{ fqdn.fqdn_subdomain }}</td>
              </tr>
     
          </tbody>
        </table>
        
    </div>
     <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th>Keyword</th>
            </tr>
          </thead>
          <tbody>
             {% for kw in keywords %}
              <tr>
              <td>{{ kw}}</a></td>
         
              </tr>
              {% endfor %}
          </tbody>
        </table>
      <a class="btn btn-primary" href="{% url 'home' %}"role="button">Return</a>

  <div>
   
{% endblock %}



