


{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}

  <div class="d-flex flex-column align-items-center justify-content-center w-50 p-3">
   
 
   


      
    
    

    <form method="post">
      {% csrf_token %}
    <div  class=" align-items-center  w-100">
      <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th>FQDN</th>
              <th>Score</th>
              <th>Type</th>
              <th>Domain</th>
              <th>SubDomain</th>
            </tr>
          </thead>
          <tbody>
        
              <tr>
              <td>{{ fqdn.fqdn_full }}</a></td>
              <td>{{ fqdn.score }}</td>
              <td>{{ form.fqdn_type|as_crispy_field}}</td>
              <td>{{ fqdn.fqdn_domain }}</td>
              <td>{{ fqdn.fqdn_subdomain }}</td>
              </tr>
     
          </tbody>
        </table>

        <p>{{fqdn.keywords }}</p>
       <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th >Keyword</th>
            </tr>
          </thead>
          <tbody>
             {% for kw in keywords %}
              <tr>
                <td>{{ kw}}</a></td>
         
              </tr>
              {% empty %}
              <tr class="table-active">
                <td colspan="3">None Found</td>
                
              </tr>
              {% endfor %}
          </tbody>
        </table>

          <table  class="table">
          <thead class="thead-dark">
            <tr>
              <th>Brands</th>
            </tr>
          </thead>
          <tbody >
             {% for br in brands %}
              <tr>
              <td>{{ br}}</a></td>
         
              </tr>
              {% empty %}
              <tr class="table-active">
                <td colspan="3">None Found</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
    

          <div  class="d-flex justify-content-between">
       
        <button type="submit" class="btn btn-primary">Save</button>
          <a href="{% url 'home' %}" role="button" class="p-3">Cancel</a>
        
        </div>

      </form>
  <div>

{% endblock %}



