{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <form>
    
      <div class="d-flex flex-column justify-content-center ">
        <div class="form-group">
          <label>Keyword</label>
          <input type="text" class="form-control" name="brand" placeholder="Add brand">
      </div>
      <div class="form-group">
        <label>Tags</label>
        <input type="text" data-role="tagsinput" class="form-control" name="tags">
    </div>
        <div  class="d-md-inline-flex justify-content-around">
          <button  class="btn btn-primary" type="submit">Save brand</button>

          <a class="btn btn-primary" href="{% url 'view_all_brands' %}"role="button">Cancel</a>
       </div>
      </div>
      
  </form>
  <p>Common Tags: 
    {% for mt in common_tags %}
        <a href="#" class="badge badge-success">{{mt}}</a>
    {% endfor %}
    </p>
    <div class="row mb-2 posts">
      {% for brand in brands %}
      <div class="col-md-6"> 
          <div class="cards">
              <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                  <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="my-1"><a href="{% url 'view_brand_details' brand.slug %}">{{brand.brand_name}}</a></h3>
                      <div style="display:flex">
                          {% for tag in brand.tags.all %}
                          <a href="{% url 'brand_tags' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                          {% endfor %}
                      </div>
                      
                  </div>
              </div>
          </div>       
      </div>
      {% endfor %}
</div>
</div>

  
{% endblock %}