
{% extends "base.html" %}



{% block content %}
{% load crispy_forms_tags %}
  <div class="d-flex justify-content-center align-items-center m-3">
    <div class="d-flex flex-column justify-content-center ">
     
      <div>
        <a href="{% url 'refresh_brands'  %}" class="badge">Update All Brands</a>
        <div class="container pt-5 w-50">
            <form method="POST" enctype= multipart/form-data>
                {% csrf_token %}
                <div class="form-group">
                    <label for="brand_name">Brand Name</label>
                    <input type="text" d class="form-control" name="brand_name" id="brand_name">
               
                    <label for="tags">Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags" id="tags">
                </div>
                <button type="submit" class="btn btn-primary">Add Brand</button>
            </form>
            </div>
            <div class="container pt-5 w-75">
            <p class="p-2">Common Tags: 
            {% for mct in common_tags %}
                <a href="{% url 'brand_tags' mct.slug %}" class="badge">{{mct}}</a>
            {% endfor %}
            </p>
            <div class="row mb-2 ">
                    {% for brand in brands %}
                    <div class="col-md-6">

                        <div class="col d-flex flex-column ">
                            <h4 class="my-1"><a href="{% url 'view_brand_details' brand.slug %}">{{brand.brand_name}}</a></h4>
                            <div style="display:flex">
                                {% for tag in brand.tags.all %}
                                <a href="{% url 'brand_tags' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                                {% endfor %}
                            </div>
                            
                        </div>
                           
                            
                    </div>
                    {% endfor %}
            </div>
        </div>    










    </div>  
    
    
</div>


{% endblock %}

