
{% extends "base.html" %}



{% block content %}
  
  <div class="d-flex justify-content-center align-items-center m-3">
    <div class="d-flex flex-column justify-content-center ">
      <div  class="d-flex align-self-left p-3">
       <ul class="nav ">
        <li class="nav-item dropdown ">
          <a class="nav-link " href="Add_Keyword">Add Keyword<span class="sr-only"></span></a>

          </li>

        </ul>

      
      </div>
      <div>
        <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th>Keyword</th>
              <th>Tags</th>
            
            
            </tr>
          </thead>
          <tbody>
            {% for obj in keywords %}
              <tr>
                <td><a href="{% url 'view_kw_details' obj.pk %}">{{ obj.keyword }}</a></td>
             
     
                <td> {{obj.tags}}</td>
              </tr>
            {% empty %}
              <tr class="table-active">
                <td colspan="3">None Found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      
        <div class="container">
                  <!-- Pagination -->
                  {% if is_paginated %}
                  <nav>
                      <ul class="pagination justify-content-center" style="margin:20px 0">
                      {% if page_obj.has_previous %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                              <span>Prev</span>
                          </a>
                          </li>
                      {% else %}
                          <li class="disabled page-item">
                          <a class="page-link" href="#">
                              <span>Prev</span>
                          </a>
                          </li>
                      {% endif %}

                      {% for page in page_range %}
                          <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                          </li>
                      {% endfor %}
                      {% if page_obj.has_next %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                              <span>Next</span>
                          </a>
                          </li>
                      {% else %}
                          <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                          <a class="page-link" href="#">
                              <span>Next</span>
                          </a>
                          </li>
                      {% endif %}
                      </ul>
                  </nav>
                  {% endif %}
          </div>











    </div>  
    
    
</div>


{% endblock %}

